.navegacion {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 -2px 5px rgba(0,0,0,.05);
    z-index: 101;
    background-color: #fff;
}

.navegacion .enlaceNavegacion {
  color: #a5a5a3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px 0;
  text-decoration: none;
  cursor: pointer;
  font-size: 1px;
}

.navegacion .enlaceNavegacion i {
    font-size: 20px;
}

.navegacion .enlaceNavegacion span{
    font-size: 12px;
}

.navegacion .logo,
.navegacion h1 {
    display: none;
}

.navegacion a.active {
  background-color: #4CAF50;
  color: black;
}

.navegacion img {
    max-width: 70px;
}

.navegacion button {
    background: transparent;
    border: none;
}

.perfil {
    display: inline-flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.perfil img {
    border-radius: 50%;
}

.dropdown-menu-right {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 4px 0 18px 0;
    right: 5vw;
}

.dropdown-menu-right li {
    text-align: left;
    height: 30px;
}

.dropdown-menu-right i {
    margin-right: 5px;
}

.dropdown-menu-right a,
.dropdown-menu-right span {
    letter-spacing: 0;
    font-size: 14px;
    color: #000;
    text-align: left !important;
    padding: 10px 15px 10px 15px;
    white-space: nowrap;
    font-weight: 700;
    display: block;
}

.dropdown-menu-right a:hover,
.dropdown-menu-right span:hover{
    color: #1e552d;
    text-decoration: none;
    transition: .5s;
    cursor: pointer;
}

/*Estilos tablet y ordenador*/
@media (min-width: 770px)
{
    .navegacion .logo {
        display: inline-block;
        margin-left: 1vw;
    }

    .navegacion h1 {
        display: inline-block;
        font-size: 2rem;
        font-weight: bold;
        font-style: italic;
        margin-bottom: 0;
        color: #1e552d;
    }

    .navegacion {
        width: auto;
        left: 0;
        top: 0;
        height: 70px;
        display: flex;
        justify-content: start;
        box-shadow: 10px 0 30px rgba(0,0,0,.05);
        position: fixed;
        align-items: center;
        z-index: 100;
    }

    .navegacion .enlaceNavegacion {
      color: #a5a5a3;
      display: flex;
      width: 15%;
      height: 70px;
      padding: 0;
      text-decoration: none;
      cursor: pointer;
    }

    #TopCanciones {
        margin-left: 5% !important;
    }

    .navegacion .enlaceNavegacion i {
        font-size: 30px;
    }

    .navegacion .enlaceNavegacion span{
        font-size: 12px;
    }

    .perfil {
        margin-left: 12vw
    }

    .perfil img {
        margin-right: 12px;
    }

    .perfil span {
        font-size: 16px;
        font-weight: 700;
        margin-right: 2vw;
    }

    .dropdown-menu-right {
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
        margin-top: -5px;
        border-radius: 5px;
        padding: 4px 0 18px 0;
        right: 5vw;
    }

    .dropdown-menu-right li {
        text-align: left;
        height: 30px;
    }

    .dropdown-menu-right i {
        margin-right: 5px;
    }

    .dropdown-menu-right a,
    .dropdown-menu-right span {
        letter-spacing: 0;
        font-size: 14px;
        color: #000;
        text-align: left !important;
        padding: 10px 15px 10px 15px;
        white-space: nowrap;
        font-weight: 700;
        display: block;
    }

    .dropdown-menu-right a:hover,
    .dropdown-menu-right span:hover {
        color: #1e552d;
        text-decoration: none;
        transition: .5s;
        cursor: pointer;
    }

    .dropdown-menu:before {
        /*content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
        border-bottom: 16px solid #FFF;
        top: -14px;
        right: 7px;*/
    }

    .inicio {
        display: none !important;
    }
}

/*Estilos de móvil y tablet*/
@media screen and (max-width: 769px)
{
    .perfil span {
        display: none;
    }

    .perfil img {
        width: 35px;
        height: 35px;
    }

    .dropdown-menu {
        bottom: 100%;
        top: auto;
    }

    .inicio {
        display: block;
    }
}
